/*  全局样式  */

* {
	touch-action: auto !important;
}
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	padding-top: 6rem;
	background-color: #e8e8e8;
}
.container-fluid {
	padding: 0;
}
/* 折叠组件 */
.navbar-toggler {
	color: #a9a9a9;
}
.navbar-toggler.active {
	color: #1c1c1c;
}
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler:active.focus,
.navbar-toggler.active:focus,
.navbar-toggler.active.focus,
.navbar-toggler.focus {
	box-shadow: none;
	outline: none;
}
/* 按钮 */
.btn {
	width: 100%;
	color: #4f94cd;
	border-color: #4f94cd;
	border-radius: .3rem;
}
.btn.active {
	color: white;
	background-color: #4f94cd;
	border-color: #4f94cd;
}
.btn:focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.btn.focus {
	box-shadow: none;
	outline: none;
}
/* 输入框 */
.form-control {
	height: 2.4rem;
	font-size: 1rem;
	line-height: normal;
	background-color: #e8e8e8;
}
.form-control:focus,
.form-control:active:focus,
.form-control:active.focus,
.form-control.active,
.form-control.active:focus,
.form-control.active.focus,
.form-control.focus {
	border-color: #4f94cd;
	box-shadow: none;
	outline: none;
}

/*  局部样式  */

/* 置顶栏 */
.header {
	height: 3rem;
	color: white;
	background-color: #4f94cd;
	transition: transform .15s linear;
}
.upward {
	transform: translateY(-1.75rem);
}
.header .nav-link {
	height: 1.5rem;
	padding-top: .3rem;
	font-size: .9rem;
	line-height: 1;
	color: #a9a9a9;
}
.header .nav-link.active {
	color: white;
	border-bottom: .1rem solid white;
	background-color: transparent;
}
/* 缩小标题 */
.header-min {
	display: inline-block;
	width: 100%;
	font-size: .75rem;
	text-align: center;
	transform: translateY(.9rem);
}
/* 过渡：显示/隐藏 */
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
.fade-enter-to,
.fade-leave {
	opacity: 1;
}
.fade-enter-active {
	transition: opacity .15s linear;
}
.fade-leave-active {
	transition: all 0 ease 0;
}

/* 工具栏 */
.toolbar {
	top: 3rem;
	background-color: white;
	transition: transform .15s linear;
}
/* 搜索框 */
.base-navbar-form .form-control {
	position: absolute;
	top: .2375rem;
	right: 1rem;
	width: 100%;
	transition: width .15s linear;
}
.base-navbar-form .navbar-toggler {
	position: absolute;
	top: .5rem;
	right: 1rem;
}
.base-navbar-form .fa-times-circle {
	font-size: 1rem;
	transform: translateY(-.1rem);
}
/* 过渡：展开/收起 */
.stretch-enter,
.stretch-leave-to {
	width: 15%;
	opacity: 0;
}
.stretch-enter-to,
.stretch-leave {
	width: 100%;
	opacity: 1;
}
.stretch-enter-active {
	transition: all .1s linear;
}
.stretch-leave-active {
	transition: all .3s linear;
}
/* 筛选器 */
.base-navbar-toggler .navbar-toggler {
	color: #4f94cd;
}
.base-navbar-toggler .navbar-toggler.active {
	color: #1c1c1c;
}
/* 筛选面板 */
#screen-collapse .btn-more {
	color: #a9a9a9;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}
#screen-collapse .navbar-toggler {
	font-size: 1rem;
}

/* 更新状态栏 */
/* 动画：图标旋转 */
.fa-sync-alt,
.fa-sync {
	animation: rotating 1s linear infinite;
}
@keyframes rotating {
	100% {
		transform: rotate(360deg);
	}
}
/* 过渡：下拉/收起 */
.pull-enter,
.pull-leave-to {
	margin-top: -3rem;
}
.pull-enter-to,
.pull-leave {
	margin-top: .25rem;
}
.pull-enter-active {
	transition: margin-top .1s linear;
}
.pull-leave-active {
	transition: margin-top .3s linear;
}

/* 全览模式 */
/* 评分 */
#full-mode .link-badge.badge {
	position: absolute;
	top: .3rem;
	right: .3rem;
}
/* 信息 */
.info-box h5 {
	margin-top: .1rem;
	margin-bottom: .1rem;
	font-weight: bold;
	line-height: 1;
	color: #1c1c1c;
}
.info-box h6 {
	margin-top: 0;
	margin-bottom: .35rem;
	font-weight: bold;
	white-space: nowrap;
	overflow-x: auto;
}
/* 评语 */
.bg-box i {
	color: #828282;
	opacity: .8;
}
.bg-box p:last-of-type {
	height: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
/* 选项 */
.option-modal-item .fa-pen {
	font-size: 1.15rem;
}

/* 简约模式 */
/* 主体 */
.accordion-toggler h5 {
	margin-bottom: .2rem;
	font-weight: bold;
}
.accordion-toggler .link-badge.badge {
	transform: translateY(-.14rem);
}
.accordion-toggler small {
	font-weight: normal;
}
.accordion-toggler p {
	margin-bottom: 0;
	font-size: .9rem;
}
.accordion-toggler i {
	font-size: .8rem;
}
.accordion-toggler.collapsed h5 {
	color: #1c1c1c;
}
.accordion-toggler.collapsed small {
	color: #828282;
}
/* 详情 */
.accordion h6 {
	margin-bottom: .2rem;
	line-height: 1;
}
.accordion .bg-box {
	width: calc(100% + .2rem);
	height: 3.63rem;
	padding-top: .35rem;
	line-height: 1.5;
}
.accordion .bg-box i {
	transform: translateY(-.05rem);
}

/* 系列模式 */
/* 导航 */
.scrollspy-nav-item.list-group-item span:first-of-type {
	font-size: 1rem;
	font-weight: bold;
	color: #4f4f4f;
}
.scrollspy-nav-item.list-group-item.active span:first-of-type {
	color: white;
}
.scrollspy-nav-item.list-group-item.active .base-badge-pill.badge {
	color: #4f94cd;
	background-color: white;
}
/* 主体 */
#series-mode .img-box {
	width: 6.9rem;
	height: 9.9rem;
	box-shadow: .3rem .3rem .5rem rgba(0,0,0,.15);
}
#series-mode .link-badge.badge {
	position: absolute;
	right: .3rem;
	bottom: .3rem;
}
#series-mode h6 {
	width: 6.9rem;
	margin: auto;
	color: #1c1c1c;
}
#series-mode h6 span {
	color: #828282;
}
#series-mode .option-modal {
	top: -1rem;
}
/* 详情 */
.top {
	top: 0;
}
/* 过渡：上滑/收起 */
.slide-up-enter,
.slide-up-leave-to {
	transform: translateY(100%);
}
.slide-up-enter-to,
.slide-up-leave {
	transform: translateY(0);
}
.slide-up-enter-active {
	transition: transform .3s linear;
}
.slide-up-leave-active {
	transition: transform .1s linear;
}
/* 底图 */
.detail-modal img {
	transition: all .15s linear;
}
.scale {
	transform: scale(.92, .92);
	transform-origin: 50% 50%;
}
/* 信息 */
.detail-modal .info-box {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	width: 100%;
	background-color: white;
}
.detail-modal .info-box h5 {
	margin: 0;
}
.detail-modal .info-box h6 {
	width: 100%;
	margin-top: .45rem;
	margin-bottom: 1rem;
	color: #828282;
}
.detail-modal .info-box p {
	margin-top: .45rem;
}
.detail-modal .bg-box {
	position: absolute;
	top: -2.4rem;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,.8);
	border-radius: 0;
}
.detail-modal .bg-box p {
	margin-top: 0;
	font-size: 1rem;
}
.detail-modal .bg-box p:last-of-type {
	width: 100%;
}
/* 大图 */
.detail-modal .img-modal {
	position: relative;
	width: 100%;
}
/* 底部分割线 */
.col-8 .tip-divider hr {
	width: 25%;
}

/* 快捷按钮 */
#to-top.shortcut-btn {
	bottom: 10.5rem;
}
#to-bottom.shortcut-btn {
	bottom: 4.5rem;
}

/* 遮罩 */
.bottom {
	bottom: calc(3.8rem + 1px);
}
