html {
	font-size: 12px;
	letter-spacing: 0.5px;
}
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	padding-top: 4.5rem;
	line-height: 0.5rem;
	background-color: #CFCFCF;
}

#headNavbar nav {
	background-color: #363636;
}
#headNavbar span {
	color: white;
	font-size: 1.2rem;
}
#headNavbar button {
	border-color: #363636;
	height: 2.5rem;
	font-size: 1.2rem;
}
#tagCollapse button {
	font-size: 1rem;
	border-color: #4F94CD;
	color: #4F94CD;
	width: 100%;
	height: 2rem;
	line-height: 1rem;
}
#searchCollapse button {
	font-size: 1rem;
	width: 100%;
	border-color: #4F94CD;
	background-color: #4F94CD;
	color: white;
}

.filmDiv {
	padding: 0.8rem;
	margin-bottom: 1rem;
	background-color: #E8E8E8;
	border-radius: 1rem;
}
.imgDiv {
	height: 9.9rem;
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
}
.imgDiv img {
	border-radius: 0.3rem;
}
.coverDiv {
	position: absolute;
	top: -4.5rem;
	left: -5.4rem;
	z-index: 1;
	margin: 0;
	padding-top: 5.2rem;
	padding-left: 5.8rem;
	width: 9.9rem;
	height: 9.9rem;
	border-radius: 50%;
	background: radial-gradient(rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 70%);
}
.coverDiv p {
	font-size: 0.9rem;
	width: auto;
	height: auto;
}
.coverDiv p::first-letter {
	font-size: 1.25rem;
}

.infoDiv {
	padding-left: 0.8rem;
	color: #828282;
}
.infoDiv h5 {
	display: inline-block;
	font-weight: bold;
	color: #1C1C1C;
}
.infoDiv h6 {
	font-weight: bold;
}
.seriesDiv {
	display: inline-block;
}
.seriesDiv button {
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
	width: 4rem;
	height: 1.6rem;
	margin-bottom: 0.4rem;
	color: #4F94CD;
	border-color: #4F94CD;
}
.seriesDiv a {
	font-size: 1.1rem;
}

.noteDiv {
	height: 2.5rem;
	line-height: 2.5rem;
}
.noteDiv p {
	background-color: #dbdbdb;
	border-radius: 0.3rem;
	color: #363636;
}
.noteDiv i {
	color: #828282;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}
.sourceDiv {
	height: 2.5rem;
	padding-left: 0.8rem;
}
.sourceDiv button {
	width: 100%;
	background-color: #4F94CD;
	border-color: #4F94CD;
	color: white;
}
.sourceDiv div {
	text-align: center;
}
.sourceDiv p {
	margin-top: 1rem;
}

.heightDiv {
	height: 3.5rem;
}

#footNavbar nav {
	background-color: #363636;
	height: 3.5rem;
	line-height: 2.3rem;
}
#footNavbar a {
	color: #9C9C9C;
	font-size: 1.2rem;
}
/* 去除按钮点击后显示的边框 */
.navbar-toggler:focus,
.navbar-toggler:active:focus,
.navbar-toggler.active:focus,
.navbar-toggler.focus,
.navbar-toggler:active.focus,
.navbar-toggler.active.focus {
	outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
}